@model List<ImageGallery.Models.EntityFramework.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Upload a Photo", "CoverUpload", new { @class = "btn-primary" })
<br />
<hr />

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>


<hr class="mt-2 mb-5">
<div class="row text-center text-lg-left">


    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-6">

            <a href="/Image/Index/@item.GalleryImages" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/Content/Images/@item.CoverPath" width="400" height="300" alt="">
            </a>
        </div>
    }

</div>