@model List<ImageGallery.Models.EntityFramework.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@Html.ActionLink("Create a Gallery", "CoverUpload", new { @class = "btn-primary" })
<br />

<hr />

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">My Gallery</h1>


<div id="gallery">
    @foreach (var item in Model)
    {
        <div class="item-container">
            <div class="gallery-item">
                <a href="/Image/Index/">
                    <img src="~/Content/CoverImages/@item.CoverPath" alt="">

                </a>
                <div class="description">
                    @item.CoverName
                </div>
                @Html.ActionLink("Delete", "Delete", "Gallery", new { id = item.id }, new { @class = "btn btn=danger", onclick = "return confirm('Are you sure to delete this Gallery?')" })
            </div>
        </div>

    }


</div>

