@model List<ImageGallery.Models.EntityFramework.GalleryImage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <div id="mdb-lightbox-ui"></div>

        <div class="mdb-lightbox">
            @foreach (var item in Model)
            {
                <figure class="col-md-4">
                    <a href="~/Content/Images/@item.ImagePath" data-size="1600x1067">
                        <img alt="@item.ImageName" src="~/Content/Images/@item.ImagePath" class="img-fluid">
                      
                    </a>
                </figure>
            }

        </div>

    </div>
</div>